<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container mt-5">
    <div class="alart alart-info display-1 text-center">LISTADO DE PROYECTOS
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="AGREGAR PROYECTO" class="btn btn-info">
    </form>

    <a href="/templates/projectDjangoApp/proyectos.html" class="btn btn-info mt-5">PROYECTOS</a>

</body>
</html>